.card-container{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;

}
.card{
  width: 70%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  background-color:rgba(128, 128, 128, 0.701);
  border-radius: 1rem;
  box-shadow: 1px 1px 10px 1px white;
  margin: 1rem;
  padding: .5rem;
  border: 1px solid white;
  color: #772efd;
 
}

.allData{
  margin: 1.5rem 10px 2rem 10px;
 
}
.data{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title{
  margin-bottom: 1rem;
  padding-top: 1rem;

}
.btn{
  background-color: #772efd;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: .7rem;
  box-shadow: 1px 1px 10px 1px gray;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
  transition: all 300ms;


}

.btn:hover{
  background-color: rgb(92, 44, 138);
  cursor: pointer;

}
.text-color-data{
  color: black;
  font-weight: bold;
}
.temp{
  color: black;
  margin-bottom: .3rem;
  line-height: 2rem;
}
.temp p{
  color: #772efd;
  
}
.img{
  width: 50px;
}
.container-btn{
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 1rem;

}


@media screen and (min-width: 678px){
 
  .card-container{
    margin: 1rem;
    font-size: 25px;

  }
  .allData{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 

  }
  .card{
    max-width: 390px;
    font-size: 25px;
    height: 488px;
    padding: 1rem;
    overflow-y: hidden;

  }
  .btn{
    font-size: 25px;
  }
  .data{
    text-align: right;
  }

 
}