*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: content-box;
}
body{
  background-image: url(https://media.giphy.com/media/5GngQyb99J3Og/giphy.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 2rem;
}
